/* Clear defaults on page */
* {
    margin: 0;
    padding: 0;
}
/* Set the Nav Bar Brand */
.navbar-brand {
    font-family: 'Calligraffitti', cursive;
    font-size: x-large;
    letter-spacing: 1px;
}
/* Set the Parallax standards */
.parallax {
    /* The image used */
    background-image: url("../IMG/AztecWarrior.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Calligraffitti', cursive;
}
/* Link Images to Jumbotrons    */
.icon2 {
    background-image: url("../IMG/DarceDaddy.jpg");
} 
.icon3 {
    background-image: url("../IMG/Established.jpg");
}
/* Testimonials Back Ground Color */
.TestBG {
    height: 100%;
    width: 100%;
    background-color: #355070; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #355070, #a5a58d);
    font-family: 'Calligraffitti', cursive;
    font-size: large;
    color: white;
    letter-spacing: 1px;
}
/* Start H1 Section */
h1 {
    font-family: 'Calligraffitti', cursive;
    font-size: x-large;
    letter-spacing: 2px;
    color: #f0efeb;

}
/* Start Media Section */
@media only screen and (max-width: 375px){
    .TestBG{ 
        background: rgb(62, 163, 74);
        color:black;
        text-shadow: black;
    }
}
@media only screen and (max-width: 425px){
    .TestBG{ 
        background: rgba(22, 53, 26, 0.89);
        color: black;
        text-shadow: black;
    }
}

