/* Clear defaults on page */
* {
    margin: 0;
    padding: 0;
}
/* Set the Nav Bar Brand */
.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: x-large;
}
/* Set the Parallax standards */
.parallax {
    /* The image used */
    background-image: url("../IMG/AztecWarrior.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lobster', cursive;
}
/* Link Images to Jumbotrons    */
.icon2 {
    background-image: url("../IMG/DarceDaddy.jpg");
} 
.icon3 {
    background-image: url("../IMG/Established.jpg");
}
.speakers {
    background-color: #4c334d;
}
/* Testimonials Back Ground Color */
.TestBG {
    height: 100%;
    width: 100%;
    background-color: #355070; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #355070, #a5a58d);
}

/* Accordian Back Ground Color */
.accordian1 {
    background-color: #0a9396;
}
/* Sponsors back ground image */
.sponsor {
    height: 100%;
  background-color: #0a9396; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #081c15, #0a9396 );
}